@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap"); /* Font header */
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Cabin:wght@600&display=swap"); /* font titles */
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Cabin:wght@600&family=Karma&display=swap"); /* font paragraph */

:root {
  --font-header: "BioRhyme", serif;
  --font-title: "Cabin", sans-serif;
  --font-paragraph: "Karma", serif;
  --color-1: #6d4322; /* color background footer */
  --color-2: #226d43; /* color background header */
  --color-3: #ecf8f6; /* color header */
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
  --res: calc(0.01 * 10vmin);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
}

header {
  width: 100vw;
  font-family: var(--font-header);
  color: var(--color-3);
}
