@import url("base.css");
@import url("nav_header.css");
@import url("footer.css");
@import url("responsive.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
}

header {
  font-family: var(--font-header);
  color: var(--color-3);
}

header .container-heading {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../image/region-sud-madagascar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}
