/* taille mobile first de base à partir de 360px*/

main {
  font-size: calc(0.9rem + 0.4vw);
  text-align: justify;
  width: 90%;
  margin: auto;
}

main section h2 {
  font-size: calc(1.08rem + 1vw);
  position: relative;
  text-align: start;
  margin-top: 50px;
  margin-bottom: 20px;
}

main section .subtitle::after {
  content: "";
  background-color: var(--color-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

main section p {
  margin: 20px 0;
}

main section .img-section {
  display: block;
  margin: auto;
  border-radius: 10px;
  min-width: 200px;
  width: calc(250px + 15vw);
  max-width: 550px;
  height: auto;
}

main section ul {
  margin: 15px 2px 40px 2px;
}

main section ul .zone {
  margin: 10px 15px 10px 15px;
  text-align: left;
  margin-left: 25px;
}

main section ul .zone-toliara,
main section ul .zone-ambolimalaiky {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px 10px 50px;
}

main section ul .zone-toliara img,
main section ul .zone-ambolimalaiky img {
  display: block;
  margin: auto;
  border-radius: 10px;
  min-width: 50px;
  width: calc(50px + 15vw);
  height: auto;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid var(--color-2);
  box-shadow: 7px 10px 5px -3px rgba(16, 77, 37, 0.66);
  -webkit-box-shadow: 7px 10px 5px -3px rgba(16, 77, 37, 0.66);
  -moz-box-shadow: 7px 10px 5px -3px rgba(16, 77, 37, 0.66);
  filter: brightness(89%);
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(89%);
  cursor: zoom-in;
  transition: 0.3s ease-in-out;
}

main section ul .zone-toliara img:hover,
main section ul .zone-ambolimalaiky img:hover {
  margin: auto;
  z-index: 10;
  transform: scaleX(2) scaleY(2);
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* ------------------------------------------------------ */
/* responsive position logo */
@media (min-width: 480px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -9.5px;
  }
}
@media (min-width: 600px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -10.5px;
  }
}

@media (min-width: 671px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -11.5px;
  }
}

@media (min-width: 742px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -12.5px;
  }
}

@media (min-width: 808px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -13.5px;
  }
}

@media (min-width: 908px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -14.5px;
  }
}
@media (min-width: 1008px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -15.5px;
  }
}
@media (min-width: 1108px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -16.5px;
  }
}
@media (min-width: 1208px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -18.5px;
  }
}
@media (min-width: 1308px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -20.5px;
  }
}
@media (min-width: 1408px) {
  header .nav .container-item-nav li .item-image {
    margin-top: -22.5px;
  }
}

/* responsive zone-toliara et zone ambolimailaky à partir de 1000px*/
@media (min-width: 1000px) {
  main section ul .zone-toliara img,
  main section ul .zone-ambolimalaiky img {
    min-width: 50px;
    width: calc(50px + 18vw);
  }
}

/* responsive main à partir de 768px*/
@media (min-width: 360px) and (max-width: 768px) {
  /*footer*/
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  main section .img-section {
    width: 40vw;
  }
}
