header .nav {
  z-index: 99;
  display: flex;
  justify-content: center;
  height: 45px;
  width: 100%;
  position: fixed;
}

header .nav .container-item-nav {
  position: relative;
  background-color: var(--color-1);
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header .nav .container-item-nav li .item-image {
  position: absolute;
  display: block;
  margin-top: -7.5px;
  margin-left: 0px;
  width: calc(27px + 1.5vw);
  height: calc(27px + 1.5vw);
  animation: slidein 0.5s ease;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: -7.5%;
  }
}

header .nav .container-item-nav li .item-nav {
  padding: 1px;
  margin: 0 3px -10px 15px;
  border: 1px solid var(--color-1);
  text-decoration: none;
  font-size: calc(0.85rem + 0.5vw);
  display: flex;
  color: var(--color-3);
}

header nav .container-item-nav li .item-nav:hover {
  padding: 1px;
  border-top: 1.5px solid var(--color-2);
  border-bottom: 2px solid var(--color-2);
}

header nav .container-item-nav li .item-nav:focus {
  padding: 1px;
  border-top: 1.5px solid var(--color-2);
  border-bottom: 1.5px solid var(--color-2);
}

header .container-heading {
  margin: 0;
  min-height: 700px;
  height: 100vh;
  width: 100%;
  background-image: url("../image/agriculture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  filter: brightness(85%);
}

header .container-heading h1 {
  letter-spacing: 10px;
  padding-top: 250px;
  text-transform: uppercase;
  text-align: center;
  font-size: calc(24px + 2vw);
  color: var(--color-3);
  text-shadow: 3px 3px 5px rgba(154, 156, 163, 1);
}

header .container-heading h1 .first-letter {
  font-size: calc(50px + 3vw);
  color: var(--color-4);
}

header .container-heading .text-heading {
  margin-top: 75px;
  line-height: 40px;
  text-align: center;
  font-size: calc(0.8rem + 1vw);
  font-weight: 100;
  color: var(--color-3);
  background-color: var(--color-2);
}
