/* taille mobile first de base <= 480px*/

main {
  font-size: calc(1rem + 0.4vw);
  text-align: justify;
  width: 90%;
  margin: auto;
}

main section h2 {
  font-size: calc(1.08rem + 1vw);
  position: relative;
  text-align: start;
  margin-bottom: 20px;
}

main section .subtitle::after {
  content: "";
  background-color: var(--color-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

main section p {
  margin: 20px 0;
}

main section .img-section {
  display: block;
  margin-bottom: 10px;
  margin: auto;
  border-radius: 10px;
  min-width: 200px;
  width: calc(250px + 15vw);
  height: auto;
}

main section ul {
  margin: 15px 2px 40px 2px;
}

main section ul .zone {
  margin: 10px 15px 10px 15px;
  text-align: left;
  margin-left: 25px;
}

main section ul .zone-toliara,
main section ul .zone-ambolimalaiky {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px 10px 50px;
}

main section ul .zone-toliara img,
main section ul .zone-ambolimalaiky img {
  display: block;
  margin: auto;
  border-radius: 10px;
  min-width: 150px;
  width: calc(100px + 15vw);
  height: auto;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid var(--color-2);
  box-shadow: 7px 10px 5px -3px rgba(16, 77, 37, 0.66);
  -webkit-box-shadow: 7px 10px 5px -3px rgba(16, 77, 37, 0.66);
  -moz-box-shadow: 7px 10px 5px -3px rgba(16, 77, 37, 0.66);
  filter: brightness(89%);
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(89%);
  cursor: zoom-in;
  transition: 0.3s ease-in-out;
}

main section ul .zone-toliara img:hover,
main section ul .zone-ambolimalaiky img:hover {
  z-index: 10;
  transform: scaleX(1.1) scaleY(1.1);
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* ------------------------------------------------------ */
/* response main à partir de 768px*/
@media (min-width: 360px) and (max-width: 768px) {
  /*footer*/
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main section .img-section {
    width: 40vw;
  }
}
