/* taille mobile first de base <= 480px*/

main {
  font-size: 1.1rem;
  text-align: justify;
  width: 90%;
  margin: auto;
}

main section h2 {
  position: relative;
  text-align: start;
  margin-bottom: 20px;
}

main section .subtitle::after {
  content: "";
  background-color: var(--color-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

main section p {
  margin: 20px 0;
}

main section img {
  display: block;
  margin-bottom: 10px;
  margin: auto;
  border-radius: 10px;
  width: 300px;
  height: auto;
}

main section div h3 {
  padding: 2px;
  color: var(--color-1);
  font-style: italic;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
}

main section div h3 p {
  margin: 0 5px;
}

main section ol {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.05rem;
}

main section ol li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

main section ol li .icon-arbre {
  margin-right: 7px;
  width: 25px;
  height: 25px;
}

main section ol li .terrains {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

main section ol li p {
  margin-left: 5px;
  width: 160px;
}

main section ol li button {
  height: 30px;
  background-color: var(--color-2);
  color: var(--color-3);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

main section ol li button:hover {
  padding: 10px;
  background-color: var(--color-1);
  color: var(--color-2);
  border: 1px solid var(--color-2);
}

/* taille mobile first de base <=768 px*/

/* taille mobile first de base <=1024 px*/

/* taille mobile first de base <=1600 px*/

/* taille mobile first de base > 1600 px*/
