@import url("events.css");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap"); /* Font header */
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Cabin:wght@600&display=swap"); /* font titles */
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Cabin:wght@600&family=Karma&display=swap"); /* font paragraph */

:root {
  --font-header: "BioRhyme", serif;
  --font-title: "Cabin", sans-serif;
  --font-paragraph: "Karma", serif;
  --color-1: #d6955b; /* color background footer */
  --color-2: #226d68; /* color background header */
  --color-3: #ecf8f6; /* color header */
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
}

header {
  font-family: var(--font-header);
  color: var(--color-3);
}

/* taille mobile first de base 375px */

header .nav {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  position: fixed;
}

header .nav .container-item-image {
  display: none;
}

header .nav .container-item-nav {
  background-color: var(--color-1);
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .nav .container-item-image .item-image {
  display: none;
}

header .nav .container-item-nav li .item-nav {
  padding: 1px;
  margin: 0 5px;
  border: 1px solid var(--color-1);
  text-decoration: none;
  display: flex;
  color: var(--color-3);
}

header nav .container-item-nav li .item-nav:hover {
  padding: 1px;
  border-top: 1.5px solid var(--color-2);
  border-bottom: 1.5px solid var(--color-2);
}

header nav .container-item-nav li .item-nav:focus {
  padding: 1px;
  border-top: 1.5px solid var(--color-2);
  border-bottom: 1.5px solid var(--color-2);
}

header .container-heading {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../image/agriculture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

header .container-heading h1 {
  padding-top: 165px;
  text-align: center;
  font-size: 1.6rem;
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: var(--color-2);
}

header .container-heading .text-heading {
  margin-top: 30px;
  text-align: center;
  font-size: 1.15rem;
  color: var(--color-3);
  background-color: var(--color-2);
}

main {
  font-size: 1.1rem;
  text-align: justify;
  width: 90%;
  margin: auto;
}

main section h2 {
  position: relative;
  text-align: start;
  margin-bottom: 20px;
}

main section .subtitle-permaculture::after {
  content: "";
  background-color: var(--color-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 1px;
}

main section p {
  margin: 20px 0;
}

main section .subtitle-action::after {
  content: "";
  background-color: var(--color-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 43%;
  height: 1px;
}

main section .subtitle-lieu::after {
  content: "";
  background-color: var(--color-1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 1px;
}

main section img {
  display: block;
  margin-bottom: 10px;
  margin: auto;
  border-radius: 10px;
  width: 300px;
  height: auto;
}

main section div h3 {
  padding: 2px;
  color: var(--color-1);
  font-style: italic;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
}

main section div h3 p {
  margin: 0 5px;
}

main section ol {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}

main section ol li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

main section ol li .icon-arbre {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

main section ol li .terrains {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

main section ol li p {
  margin-left: 10px;
  width: 160px;
}

main section ol li button {
  height: 30px;
  background-color: var(--color-2);
  color: var(--color-3);
  border: none;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

main section ol li button:hover {
  padding: 10px;
  background-color: var(--color-1);
  color: var(--color-2);
  border: 1px solid var(--color-2);
}

footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-2);
  color: var(--color-3);
}

footer h4 {
  padding: 5px;
  margin-bottom: 5px;
  color: var(--color-3);
  font-size: 0.95rem;
  font-weight: 200;
  margin: auto;
}

footer h4 #contact {
  transition: 0.5s ease-out;
}

footer form {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 1rem;
}

footer form input,
footer form textarea {
  margin: 5px;
  width: 125px;
  font-size: 0.9rem;
  outline: none;
  border-radius: 5px;
}

footer form input[type="email"],
footer form textarea {
  width: 175px;
}

footer form label {
  margin-left: 10px;
  display: block;
  width: 100px;
  float: left;
}

footer form input {
  height: 20px;
  margin-bottom: 8px;
  padding: 2px;
}

footer form .button-form {
  display: block;
  margin: auto;
}

footer form div .button-form-footer {
  background-color: var(--color-1);
  color: var(--color-3);
  border: none;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid var(--color-3);
  cursor: pointer;
  margin-bottom: 10px;
}
footer form div .button-form-footer:hover {
  background-color: var(--color-2);
  color: var(--color-3);
  border: none;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid var(--color-1);
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

footer .copyright {
  width: 100%;
  background-color: var(--color-1);
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

footer .copyright p {
  line-height: 50px;
}

footer .goback {
  position: absolute;
  margin-top: 230px;
  margin-left: 330px;
}

footer div img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
